<article class="modal-window">
  <div class="modal-window__container">
    <p class="modal-window__title">
      {{title}}
    </p>
    <form action="" class="modal-window__submit">
      <div class="modal-window__content-block">
        {{{field}}}
        {{!-- {{> common/custom-field/custom-field type="text" label="Логин" helper=""}} --}}
      </div>
      {{{button}}}
      {{!-- {{> common/main-button/main-button text="Добавить"}} --}}
    </form>
  </div>
</article>