<footer class="chat-footer">
  <div class="chat-footer__container">
    <div class="chat-footer__options-button">
      <img
        class="chat-footer__options"
        src="{{clipIcon}}"
        alt="Иконка вложений к сообщению"
      />
    </div>
    <form action="" class="chat-footer__form">
      <input
        class="chat-footer__new-message"
        type="text"
        name="message"
        placeholder="Сообщение"
        value=""
      />
      <button class="chat-footer__send-message">
        <img
          class="chat-footer__arrow"
          src="{{arrowForwardIcon}}"
          alt="Иконка кнопки отправки сообщения"
        />
      </button>
    </form>
    <ul class="chat-footer__sub-menu {{#if hiddenMenu}}chat-footer__sub-menu_hidden{{/if}}">
      <li class="chat-footer__menu-item chat-footer__send-photo">
        <img
          class="chat-footer__menu-img"
          src="{{photoIcon}}"
          alt="Иконка добавления фото или видео в сообщение"
        />
        <p class="chat-footer__menu-text">Фото</p>
      </li>
    </ul>
  </div>
  {{{modal}}}
</footer>
