<footer class="chat-footer">
  <div class="chat-footer__container">

  <div class="chat-footer__options-button">
    <img class="chat-footer__options" src="../asserts/clip.svg"  alt="Иконка вложений к сообщению"/>
  </div>
    <input class="chat-footer__new-megssage" type="search" placeholder="Сообщение" />
    <button class="chat-footer__send-message">
      <img class="chat-footer__arrow" src="../asserts/arrow_forward.svg"  alt="Иконка кнопки отправки сообщения"/>
    </button>
  </div>
  <ul class="chat-footer__sub-menu">
    <li class="chat-footer__menu-item">
      <img class="chat-footer__menu-img" src="../asserts/photo.svg"  alt="Иконка добавления фото или видео в сообщение"/>
      <p class="chat-footer__menu-text">Фото или видео</p>
    </li>
    <li class="chat-footer__menu-item">
      <img class="chat-footer__menu-img" src="../asserts/file.svg"  alt="Иконка добавления файла к сообщению"/>
      <p class="chat-footer__menu-text">Файл</p>
    </li>
    <li class="chat-footer__menu-item">
      <img class="chat-footer__menu-img" src="../asserts/location.svg"  alt="Иконка кнопки скидывания локации"/>
      <p class="chat-footer__menu-text">Локация</p>
    </li>
  </ul>
</footer>