<header class="sidebar-header">
  <button class="sidebar-header__create-chat">Создать чат</button>
  <a href="{{toProfile}}" class="sidebar-header__profile">
    <div class="sidebar-header__profile-label">Профиль</div>
    <img
      src="{{arrorRightIcon}}"
      class="sidebar-header__arrow"
      alt="Иконка перехода в профиль"
    />
  </a>
  {{{modal}}}
</header>
