<header class="sidebar-header">
  <a href="/profile" class="sidebar-header__profile">
    <div class="sidebar-header__prifile-label">Профиль</div>
    <img
      src="{{arrorRightIcon}}"
      class="sidebar-header__arrow"
      alt="Иконка перехода в профиль"
    />
  </a>
</header>