<div class="profile-field">
  <label class="profile-field__label">{{label}}</label>
  <input type="{{ type }}" {{#if readonly}}readonly{{/if}} name={{name}} class="profile-field__input" value="qwerqw" placeholder=" " />
</div>