<nav>
  <ul>
    <li><a href="/login">Страница авторизации</a></li>
    <li><a href="/register">Страница регистрации</a></li>
    <li><a href="/chat">Страница чата</a></li>
    <li><a href="/profile">Страница профиля</a></li>
    <li><a href="/profile/editProfile">Страница редактирования профиля</a></li>
    <li><a href="/profile/editPassword">Страница редактирования пароля</a></li>
    <li><a href="/modal-page.hbs">Страница с модальным окном</a></li>
    <li><a href="/error/404">Страница с ошибкой 404</a></li>
    <li><a href="/error/500">Страница с ошибкой 500</a></li>
  </ul>
</nav>