<div class="custom-field">
  <input type="{{ type }}" name={{name}} class="custom-field__input" placeholder=" " />
  <label class="custom-field__label">{{label}}</label>
  <p class="custom-field__input-helper">{{helper}}</p>
</div>