<article class="chat-item">
  <div class="chat-item__container {{#if selected}}chat-item__container_selected{{/if}}">
  <div class="chat-item__icon"></div>
  <div class="chat-item__main-info">
    <p class="chat-item__name">Design Destroyer</p>
    <p class="chat-item__last-message chat-item__last-message_preffix">В 2008 году художник Jon Rafman  начал собирать. Друзья, у меня для вас особенный выпуск
      новостей и бла 1 бла 2 бла 3 бла 4 бла 5 бла 6 бла бла бла</p>
  </div>
  <p class="chat-item__date">12 апреля 2012</p>
  <div class="chat-item__unread-count">3</div>
  </div>
</article>