<section class="chats-list">
  {{> sidebar/chat-item/chat-item }}
  {{> sidebar/chat-item/chat-item selected=true }}
  {{> sidebar/chat-item/chat-item }}
  {{> sidebar/chat-item/chat-item }}
  {{> sidebar/chat-item/chat-item }}
  {{> sidebar/chat-item/chat-item }}
  {{> sidebar/chat-item/chat-item }}
  {{> sidebar/chat-item/chat-item }}
  {{> sidebar/chat-item/chat-item }}
  {{> sidebar/chat-item/chat-item }}
  {{> sidebar/chat-item/chat-item }}
  {{> sidebar/chat-item/chat-item }}
  {{> sidebar/chat-item/chat-item }}
  {{> sidebar/chat-item/chat-item }}
  {{> sidebar/chat-item/chat-item }}
  {{> sidebar/chat-item/chat-item }}
</section>
