<article class="image-message {{#if own}}image-message__container_left{{/if}}">
  <img src="../asserts/image-exsample.png" alt="" class="image-message__image" />
  <div class="image-message__metainfo">
    <img src="../asserts/dbl-check.svg" alt="" class="image-message__flag" />
    <p class="image-message__time">10:05</p>
  </div>
</article>