<selection class="chat-space">
  <div class="chat-space__container">
  <p class="chat-space__date">19 июня</p>
    {{> chat/text-message/text-message own=true}}
    {{> chat/image-message/image-message own=true}}
    {{> chat/text-message/text-message }}
    {{> chat/image-message/image-message own=true}}
    {{> chat/text-message/text-message own=true}}
    {{> chat/text-message/text-message }}
    {{> chat/text-message/text-message }}
  </div>
</selection>