.chat-space {
  flex-grow: 1;
  height: 100%;
  padding: 20px;
  overflow-y: auto;

  &__container {
    @mixin flex-column;
    justify-content: flex-end;
  }

  &__date {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    color: var(--gray-text);
  }
}
