@define-mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@define-mixin box-shadow-black {
  box-shadow: 0 0 6px rgb(0 0 0 / 14%);
}

@define-mixin flex-column {
  display: flex;
  flex-direction: column;
}
