:root {
  --main-color: #e5e5e5;
  --text-color: #1e1e1e;
  --main-bg-color: #fff;
  --gray-color: #eaeaea;
  --gray-text: #999;
  --hovered-color: #f5f5f5;
  --buttom-blue-color: #3369f3;
  --selected-color: #E4EDFD;
  --side-part-color: #fbfbfb;
  --gray-bg-color: #efefef;
}
