<header class="sidebar-header">
  <a href="./profile-page.hbs" class="sidebar-header__profile">
    <div class="sidebar-header__prifile-label">Профиль</div>
    <img
      src="../asserts/arrow-right.svg"
      class="sidebar-header__arrow"
      alt="Иконка перехода в профиль"
    />
  </a>
</header>
