<header class="chat-header">
  <div class="chat-header__user-info">
    <div class="chat-header__logo"></div>
    <p class="chat-header__name">Design Destroyer</p>
  </div>
  <div class="chat-header__options-button">
    <img
      class="chat-header__options"
      src="../asserts/options.svg"
      alt="Иконка опций добавления и удаления пользователей из беседы"
    />
  </div>
  <ul class="chat-header__sub-menu">
    <li class="chat-header__menu-item">
      <img
        class="chat-header__menu-img"
        src="../asserts/add.svg"
        alt="Иконка добавления пользователя в беседу"
      />
      <p class="chat-header__menu-text">Добавить пользователя</p>
    </li>
    <li class="chat-header__menu-item">
      <img
        class="chat-header__menu-img chat-header__menu-img_rotate45"
        src="../asserts/add.svg"
        alt="Иконка удаления пользователя из беседы"
      />
      <p class="chat-header__menu-text">Удалить пользователя</p>
    </li>
  </ul>
</header>
