<article class="modal-window">
  <div class="modal-window__container">
    <p class="modal-window__title">
      Добавить пользователя
    </p>
    <div class="modal-window__content-block">
      {{> common/custom-field/custom-field type="text" label="Логин" helper=""}}
    </div>
    <form action="/" class="modal-window__submit">
      {{> common/main-button/main-button text="Добавить"}}
    </form>
  </div>
</article>
