{{!< main }}
<main class="chat">
  <article class="chat__sidebar-container">
    {{> sidebar/sidebar-header/sidebar-header }}
    {{> sidebar/search-line/search-line }}
    {{> sidebar/chats-list/chats-list }}
  </article>
  <article class="chat__chat-container">
    {{> chat/chat-header/chat-header }}
    {{> chat/chat-space/chat-space }}
    {{> chat/chat-footer/chat-footer }}
  </article>
</main>