{{!< main }}
<main class="profile">
  <article class="profile__side-part">
    <form action="./chat-page.html">
      <button class="profile__back-button">
        <img
          class="profile__arrow"
          src="../asserts/arrow_forward.svg"
          alt="Иконка кнопки перехода обратно в чат"
        />
      </button>
    </form>
  </article>
  <section class="profile__work-area">
    <div class="profile__container">
      <div class="profile__logo-container">
        <img src="../asserts/profile-logo.svg" alt="" class="profile__logo" />
      </div>
      <div class="profile__name">Валера</div>
      <ul class="profile__fields-block">
        <li class="profile__field-container">
          {{> common/profile-field/profile-field name="oldPassword" type="password" label="Старый пароль" }}
        </li>
        <li class="profile__field-container">
          {{> common/profile-field/profile-field name="newPassword" type="password" label="Новый пароль" }}
        </li>
        <li class="profile__field-container">
          {{> common/profile-field/profile-field name="newPasswordRepeat" type="password" label="Повторите новый пароль" }}
        </li>
      </ul>
      <form action="./profile-page.html" class="profile__save-button">
        {{> common/main-button/main-button text="Сохранить"}}
      </form>
    </div>
  </section>
</main>