{{!< main }}
<main class="profile">
  <article class="profile__side-part">
    <form action="./chat-page.html">
    <button class="profile__back-button">
      <img class="profile__arrow" src="../asserts/arrow_forward.svg" />
    </button>
    </form>
  </article>
  <section class="profile__work-area">
    <div class="profile__container">
      <div class="profile__logo-container">
        <img
          src="../asserts/profile-logo.svg"
          alt=""
          class="profile__logo"
        />
      </div>
      <div class="profile__name">Валера</div>
      <ul class="profile__fields-block">
        <li class="profile__field-container">
          {{> common/profile-field/profile-field name="email" type="text" label="Почта" }}
        </li>
        <li class="profile__field-container">
          {{> common/profile-field/profile-field name="login" type="text" label="Логин" }}
        </li>
        <li class="profile__field-container">
          {{> common/profile-field/profile-field name="first_name" type="text" label="Имя" }}
        </li>
        <li class="profile__field-container">
          {{> common/profile-field/profile-field name="second_name" type="text" label="Фамилия" }}
        </li>
        <li class="profile__field-container">
          {{> common/profile-field/profile-field name="display_name" type="text" label="Имя в чате" }}
        </li>
        <li class="profile__field-container">
          {{> common/profile-field/profile-field name="phone" type="text" label="Телефон" }}
        </li>
      </ul>
      <form action="./profile-page.html" class="profile__save-button">
        {{> common/main-button/main-button text="Сохранить"}}
      </form>
    </div>
  </section>
</main>