{{!< main }}
<main class="logon">
  <div class="logon__container">
    <p class="logon__label">Регистрация</p>
    <form action="./login-page.html" class="logon__login-form">
      <div class="logon__field-container">
        {{> common/custom-field/custom-field name="email" type="text" label="Почта" helper=""}}
      </div>
      <div class="logon__field-container">
        {{> common/custom-field/custom-field name="login" type="text" label="Логин" helper=""}}
      </div>
      <div class="logon__field-container">
        {{> common/custom-field/custom-field name="first_name" type="text" label="Имя" helper=""}}
      </div>
      <div class="logon__field-container">
        {{> common/custom-field/custom-field name="second_name" type="text" label="Фамилия" helper=""}}
      </div>
      <div class="logon__field-container">
        {{> common/custom-field/custom-field name="phone" type="text" label="Телефон" helper=""}}
      </div>
      <div class="logon__field-container">
        {{> common/custom-field/custom-field name="password" type="text" label="Пароль" helper=""}}
      </div>
      <div class="logon__field-container">
        {{> common/custom-field/custom-field name="passwordRepeat" type="password" label="Пароль (еще раз)" helper="Пароли не совпадают"}}
      </div>
      <div class="logon__submit">
        {{> common/main-button/main-button text="Зарегистрироваться"}}
      </div>
    </form>
    {{> common/sub-button/sub-button href="./login-page.hbs" text="Войти"}}
  </div>
</main>
