<article class="chat-item">
  <div class="chat-item__container {{#if selected}}chat-item__container_selected{{/if}}">
  <div class="chat-item__icon"></div>
  <div class="chat-item__main-info">
    <p class="chat-item__name">{{chatName}}</p>
    <p class="chat-item__last-message chat-item__last-message_preffix">{{lastMessage}}</p>
  </div>
  <p class="chat-item__date">{{date}}</p>
  <div class="chat-item__unread-count">{{unreadCount}}</div>
  </div>
</article>
