.sub-button {
  text-align: center;
  font-size: 11px;
  line-height: 11px;
  color: var(--buttom-blue-color);

  &_13px {
    font-size: 13px;
    line-height: 13px;
  }

  &_red {
    color: red;
  }
}
