<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main page</title>
</head>
<body>
  <ul>
    <li><a href="pages/login-page.hbs">Страница авторизации</a></li>
    <li><a href="pages/register-page.hbs">Страница регистрации</a></li>
    <li><a href="pages/chat-page.hbs">Страница чата</a></li>
    <li><a href="pages/profile-page.hbs">Страница профиля</a></li>
    <li><a href="pages/edit-profile-page.hbs">Страница редактирования профиля</a></li>
    <li><a href="pages/edit-password-page.hbs">Страница редактирования пароля</a></li>
    <li><a href="pages/modal-page.hbs">Страница с модальным окном</a></li>
    <li><a href="pages/error-404-page.hbs">Страница с ошибкой 404</a></li>
    <li><a href="pages/error-500-page.hbs">Страница с ошибкой 500</a></li>
  </ul>
</body>
</html>
